<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Profile</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='base.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='profile.css') }}"
		/>
	</head>
	<body>
		<div class="container">
			<h1>Hello {{ username }}!</h1>

			{% if secret %}
			<strong>Secret:</strong><br />
			{{ secret }} {% else %}
			<strong>You don't have a secret.</strong>
			{% endif %}

			<div class="back-link">
				<a href="/sqli/basic">← Back to Login</a>
			</div>
			<div class="back-link">
				<a href="/">← Back to Homepage</a>
			</div>
		</div>
	</body>
</html>
